Repository TeamFoodies/WhatsGood, pull requests merged in 2023-03, with the labels that each got.

#61 Change email to username in login screen
  frontend/src/pages/login_screen.js
Labels: frontend

#65 Update login_screen.js
  frontend/src/pages/login_screen.js
Labels: enhancement, frontend

#69 Hash passwords, auth keys, create restaurant route
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/login.controller.js
  backend/src/controllers/restaurant.controller.js
  backend/src/index.js
  backend/src/models/authorization.model.js
  backend/src/routes/create_account.route.js
  backend/src/routes/create_restaurant.route.js
  backend/src/routes/login.route.js
  backend/src/routes/logout.route.js
Labels: enhancement, backend

#67 Add view user made reviews page
  frontend/App.js
  frontend/src/pages/viewReview_screen.js
Labels: enhancement, frontend

#66 Dramos edit menu page
  frontend/App.js
  frontend/src/pages/editMenuPage.js
Labels: frontend

#71 took our forgot pass button
  frontend/src/pages/login_screen.js
Labels: wontfix, frontend

#74 added url to pages needed
  frontend/src/pages/addRestaurant_screen.js
  frontend/src/pages/addReview_screen.js
  frontend/src/pages/create_acct_screen.js
  frontend/src/pages/editMenuPage.js
  frontend/src/pages/example_screen.js
  frontend/src/pages/login_screen.js
  frontend/src/pages/viewMenu_screen.js
  frontend/src/pages/viewRestaurant_screen.js
  frontend/src/pages/viewReview_screen.js
  frontend/src/pages/viewSavedRestaurant_screen.js
Labels: enhancement, frontend

#75 Edit Restaurant screen
  frontend/App.js
  frontend/src/pages/editRestaurant_screen.js
  frontend/src/pages/viewRestaurant_screen.js
Labels: frontend

#78 changes email to username
  frontend/src/pages/create_acct_screen.js
Labels: enhancement, frontend

#81 srry justin
  frontend/src/pages/create_acct_screen.js
Labels: enhancement

#80 new page and navigation
  frontend/App.js
  frontend/src/pages/homeViewRestaurant_screen.js
  frontend/src/pages/home_screen.js
Labels: frontend

#82 Add POST requests to create account/login screens
  frontend/App.js
  frontend/src/pages/create_acct_screen.js
  frontend/src/pages/login_screen.js
Labels: enhancement, frontend

#79 Added navigation to edit menu page
  frontend/App.js
  frontend/src/pages/editMenuPage.js
  frontend/src/pages/viewReview_screen.js
Labels: enhancement, frontend

#84 Ctsai081 view rest home
  frontend/src/pages/homeViewRestaurant_screen.js
  frontend/src/pages/viewMenu_screen.js
Labels: frontend

#85 Backend - implement favorites
  backend/src/controllers/login.controller.js
  backend/src/controllers/restaurant.controller.js
  backend/src/controllers/user.controller.js
  backend/src/index.js
  backend/src/models/authorization.model.js
  backend/src/routes/favorite.route.js
  backend/src/routes/restaurant.route.js
Labels: enhancement, backend

#86 Lly022/testing
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/create_acct_screen.js
  frontend/tests/validatePassword.js
  frontend/tests/validatePassword.test.js
  frontend/tests/validateUser.js
  frontend/tests/validateUser.test.js
  package-lock.json
  package.json
Labels: frontend

#88 Ctsai081 view restaurant
  frontend/src/pages/viewRestaurant2_screen.js
Labels: frontend

#90 Changes to edit menu page
  frontend/src/pages/editMenuPage.js
Labels: frontend

#92 moved test files
  .babelrc
  backend/.babelrc
  backend/package-lock.json
  backend/package.json
  backend/tests/authorization.test.js
  backend/yarn.lock
  frontend/.babelrc
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
  jest.config.js
  package-lock.json
  package.json
  yarn.lock
Labels: backend

#93 Ctsai081 view menu
  frontend/src/pages/homeViewRestaurant_screen.js
  frontend/src/pages/viewMenu_screen.js
  frontend/src/pages/viewRestaurant2_screen.js
Labels: frontend

#94 Enhanced home screen
  backend/src/controllers/restaurant.controller.js
  backend/src/index.js
  frontend/ios/Podfile.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/WGMapView.js
  frontend/src/pages/home_screen.js
Labels: enhancement, backend
