Repository TeamFoodies/WhatsGood, pull requests merged in 2023-02, with the labels that each got.

#29 Backend module
  .gitignore
  backend/index.js
  backend/package-lock.json
  backend/package.json
Labels: enhancement, backend

#34 implemented base for frontend
  frontend/.gitignore
  frontend/App.js
  frontend/app.json
  frontend/assets/adaptive-icon.png
  frontend/assets/favicon.png
  frontend/assets/icon.png
  frontend/assets/splash.png
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/example_screen.js
Labels: documentation, enhancement, frontend

#35 Lly022/add restaurant page
  frontend/App.js
  frontend/src/pages/addRestaurant_screen.js
Labels: frontend

#36 Add the addReview Page
  frontend/App.js
  frontend/src/pages/addReview_screen.js
Labels: frontend

#41 Xcaracal intro login page
  .expo/README.md
  .expo/settings.json
  frontend/App.js
  frontend/assets/cheese.png
  frontend/src/pages/login_screen.js
Labels: frontend

#44 Xcaracal home screen closes #43
  frontend/App.js
  frontend/src/pages/home_screen.js
Labels: frontend

#47 Add view restaurant screen
  frontend/App.js
  frontend/src/pages/addReview_screen.js
  frontend/src/pages/viewRestaurant_screen.js
Labels: enhancement, frontend

#48 View menu page
  frontend/App.js
  frontend/src/pages/viewMenu_screen.js
Labels: frontend

#49 View saved restaurant
  frontend/App.js
  frontend/src/pages/viewMenu_screen.js
  frontend/src/pages/viewSavedRestaurant_screen.js
Labels: frontend

#53 Page navigation for home screen
  frontend/App.js
  frontend/src/pages/home_screen.js
  frontend/src/pages/viewRestaurant_screen.js
Labels: enhancement, frontend
